body {
    margin: 0;
    background: linear-gradient(135deg,#111827,#374151);
    color: #F9FAFB;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.topbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(135deg, #030712, #0F172A, #1E3A5F);
    color: #F9FAFB;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.navlinks{
    gap: 10px;
    display: flex;
}

.navlinks a{
    color: #F9FAFB;
    text-decoration: none;
    font-weight: bold;
}

.logo{
    color: #F9FAFB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.logo-a{
    text-decoration: none;
    color: #f3f4f7;
}

#home{
    justify-content: space-between;
    align-items: center;
    padding: 80px 8%;
    display: flex;
    margin-bottom: 12%;
    scroll-margin-top: 100%;
}

.profile{
    object-fit: cover;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: #d1d1d1 4px solid;
}

.lmbutton{
    text-decoration: none;
    background: linear-gradient(135deg, #1E3A8A, #172554);
    border: none;
    padding: 10px 20px; 
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    color: #f3f4f7;
    border-radius: 15px;
}

.aboutcontent {
    background: linear-gradient(135deg, #1F2937, #374151);
    color: #F9FAFB;
    padding: 30px 5%;
}

#about h2 {
    margin-bottom: 30px;
}

#about h3 {
    margin-top: 35px;
    margin-bottom: 15px;
}

#about p {
    line-height: 1.6;
    text-align: justify;
}

.mid{
    text-align: center;
}

#skills {
    padding: 70px 5%;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.skill-card {
    background: linear-gradient(135deg, #374151, #1F2937);
    border: 1px solid #4B5563;
    border-radius: 12px;
    padding: 20px;
    width: 200px;
    color: #F9FAFB;
    margin-left: 80px;
}

.h2skills{
    text-align: center;
    margin-top: -25px;
    margin-bottom: 50px;
}